@page "/"
@using SciChartBlazor.Charts2D.Data.Model;
@using SciChartBlazor.Charts2D;
@using SciChartBlazor.Charts2D.Data.Model.DataSeries;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SciChartSurface Height="500" Width="900">
    @*  <FastCandlestickRenderableSeries
    DataSeries="@DataSeries"
        Stroke="1" @ref="_chart">

    </FastCandlestickRenderableSeries>

  <XAxis>
        <CategoryDateTimeAxis />
    </XAxis>

    <YAxis>
        <NumericAxis />
    </YAxis>*@
</SciChartSurface>


@code {
    private Charts2D.FastCandlestickRenderableSeries? _chart;

    private List<DataPoint> DataSeries = new List<DataPoint>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _chart != null)
        {
            await _chart.Init();

            for (int i = 0; i < 100; i++)
            {
                DataSeries.Add(new DataPoint(i, Math.Sin(i * 0.1)));
            }

            //var xyDataSeries = new FastLineRenderableSeries()
            //    {
            //        Stroke = "#20f9bc",
            //        StrokeThickness = 5,
            //        DataSeries = DataSeries
            //    };

            //await _chart.AddRenderableSeries(xyDataSeries);
        }
    }
}